body{
    /* font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5; */
    font: 20px/1.5 Arial, Helvetica ,sans-serif;
    padding: 0;
    margin-left: 0;
    line-height: 1;
    /* background-color: hsl(143, 96%, 50%); */
    background-image: url("../img/sample2.jpg");
    
}
.container{
    width: 80%;
    margin: 0;
    overflow: hidden;
     

}
header{
    background: #353535;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0f0beb 3px solid;  


}